@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

::-webkit-scrollbar{
    @apply hidden
}

@theme{
    --color-primary : #5f6FFF;
    --grid-template-columns-auto: repeat(auto-fill, minmax(200px, 1fr));
}

*{
    font-family:Outfit;
}